.maingame {
  height: 100vh;
}

.maingame__panel {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}

.maingame__button {
  outline: none;
  border: none;
  background: none;
  font-size: 1em;
  line-height: 1.36em;
  letter-spacing: 0.25px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

.maingame__button:hover {
  opacity: 1;
}

.maingame__score {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.36em;
  color: #fff;
  opacity: 0.8;
}

.maingame__score-digit {
  font-family: Krungthep;
  margin-left: 10px;
}

@media (min-width: 769px) and (max-width: 1441px) {
  .maingame__panel {
    font-size: 16px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .maingame__panel {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .maingame__panel {
    font-size: 9px;
  }
}
