.maingame__table {
  margin-top: 1.2vw;
}

.maingame__table-row {
  margin-bottom: 1.2vw;
  display: flex;
  justify-content: space-between;
  height: 12.5vw;
}

.maingame__table-row:last-child {
  margin-bottom: 0px;
}
